.price_wrap {
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}
.price_wrap h1 {
  margin-bottom: 8px;
}
.price_wrap .text {
  margin-bottom: 50px;
}
.price_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 70px;
}

.price_card_item {
  transition: all 0.1s linear;
  height: 456px;
  display: grid;
  align-content: space-between;
  text-align: center;
  padding: 25px;
  background: var(--white);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.dark .price_card_item .font-size_1626 {
  color: var(--dark);
}
.per_wrap {
  display: flex;
  text-align: start;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.per_price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--green);
}

.per_status {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: var(--green);
}
.per_type {
  line-height: 22px;
  letter-spacing: 0.1px;
  color: #afafaf;
}
.card_operators {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: var(--secondary);
}
.card_add_one {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: var(--secondary);
}
.card_btn {
  width: 139px;
  height: 44px;
  background: var(--green);
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--white);
  display: block;
  border: none;
  margin: auto;
  transition: all 0.2s ease;
}
.price_card_item:hover {
  background-color: var(--green);
}
.price_card_item:hover p {
  color: var(--white);
}
.price_card_item:hover .card_btn {
  background-color: var(--white);
  color: var(--green);
}
.dark .price_card_item:hover {
  background-color: var(--darkgreen);
}
.dark .price_card_item:hover .per_type{
  color: var(--white);
}
.dark .price_card_item:hover .card_desc{
  color: var(--white);
}

@media (max-width: 768px) {
  .price_cards {
    gap: 20px;
  }
}
@media (max-width: 480px) {
  .price_cards {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
