.card_wrap {
  width: 348px;
  height: 359px;
  background: #ffffff;
  border-radius: 8px;
  color: #22343d;
  border: 1px solid #dedede;
}
.card_wrap img {
  width: 100%;
}
.text_wrap {
  padding: 24px;
}
.text_wrap h1 {
  padding-bottom: 12px;
}
.text_wrap span {
  font-weight: 600;
}
.card_wrap:hover p {
  color: #02897A;
}
.card_wrap:hover {
  box-shadow: 0 0 5px #dedede;
}

@media (max-width: 768px) {
  .card_wrap {
    margin: auto;
  }
}
@media (max-width: 425px) {
  .card_wrap {
    width: 320px;
  }
}
