.collaborative {
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 84px;
}
.collaborative--left h5 {
  font-weight: 600;
  margin-bottom: 8px;
}
.collaborative--left p{
  margin-bottom: 25px;
}
.collaborative--left h6{
  font-weight: 600;
  margin-bottom: 12px;
}