.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-bottom: 25px;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 16px;
}
.logo-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  color: #173a56;
}
.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.menu-links {
  display: flex;
  align-items: center;
  gap: 30px;
  transition: 0.3s ease-in;
  list-style-type: none;
}
.menu--link a {
  text-decoration: none;
}
.menu--link a:active,
.menu--link a:hover {
  font-weight: 600;
}
.navbar__btn-group {
  display: flex;
  gap: 24px;
}
.navbar__btn-group button {
  height: 43px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sign-in__btn {
  width: 102px;
  border: none;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background: transparent;
}
.sign-up__btn {
  width: 110px;
  border: none;
  background: #02897a;
  border: 1px solid #02897a;
  border-radius: 4px;
  color: #ffffff;
}
.sign-in__btn:hover{
  background: #173a56;
  color: #fff;
}
.sign-up__btn:hover {
  color: #02897a;
  background-color: #ffffff;
}