.client-feedback{
  margin-bottom: 150px;
}
.client-feedback h1 {
  text-align: center;
  margin-bottom: 8px;
}

.client-feedback__text {
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #22343d;
}
.client-feedback__map {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  align-items: center;
}
.client-feedback__map--item {
  padding: 25px 0 25px 25px;
  max-width: 327px;
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 5px;
}
.star-box {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.client-feedback__map--item p {
  margin-bottom: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}
.client-info__box {
  display: flex;
  align-items: center;
  gap: 14px;
}
.client-name__box h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #02897a;
}
.client-name__box h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252b42;
}
